{% extends "base.html" %}
{% block content %}
<div class='d-flex flex-wrap justify-content-center px-4'>

  {% for task in data  %} 
    <div class="col-sm-3 p-3">
      <div class="card bg-secondary text-white">
      <div class="card-body">
        
        <h4 class="card-text">{{task.title}}</h4>
        <p class="card-text">{{task.taskDescription}}</p>
        <p>
              {% for i in task.category.all %}
             <button class='btn btn-warning'> {{ i.name }}</button>
              {% endfor %}
        </p>
        <h6 class="card-title">{{task.date}}</h6>
      {% if task.is_completed %}
      <button class='btn btn-success'>Completed</button>
      {% comment %} <a href="{% url 'completed_task' task.id %}" class='btn btn-success'>Completed</a> {% endcomment %}
      {% else %}
      <a href="{% url 'edit_task' task.id %}" class='btn btn-success'>Edit</a>
      <a href="{% url 'delete_task' task.id %}" class='btn btn-danger'>Delete</a>
      {% comment %} <a href="{% url 'completed_task' task.id %}" class='btn btn-success'>Incompleted</a> {% endcomment %}
      {% endif %}
      </div>
      </div>
    </div>
      
  {% endfor %}
</div>
{% endblock %}